<br/>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
     <main role="main" class="inner cover">
        <span style="font:  bold; color: #4374D9;">
        <h2 class="cover-heading"><%= @content.nickname %> </h2>(<small><%=@content.ip_address%></small>)
        <br/>
        </span>
        <div class="text-center">
            <p class="lead">" <%= @content.contents %> "</p> <br/>
            <%= link_to '목록 | ',"/tweet" %>
            <%= link_to '수정 | ',"/tweet/#{@content.id}/edit" %>
            <%= link_to '삭제 ',"/tweet/#{@content.id}/destroy" %>
            <!--
            <a href='/tweet'>목록 | </a>
            <a href='/tweet/<%= @content.id %>/edit'>수정 | </a>
            <a href='/tweet/<%= @content.id %>/destroy'>삭제 </a> -->
      </main>
      </div>

</div>